$font-primary: 'Hanken Grotesk', sans-serif;
$color-white: #ffffff;
$color-black: #000000;
$color-primary: #9D7049;
$color-secondary: #553105;
$hover-color-primary: #775435;
$bg-header: #f6f2ee;
$bg-hero: url('../assets/images/hero6.jpg') no-repeat center center/cover;
$btn-padding: 15px 25px;
$breakpoint-mobile: 767px;
